@import url('https://fonts.cdnfonts.com/css/godofwar');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(26, 26, 26);
    font-family: Tahoma;
}

header nav{
    font-family: 'GodOfWar';
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header nav a{
    font-size: 1.55rem;
    color: white;   
    gap: 50px;
    transition: 0.3s;
}

header nav a:hover{
    transform: scale(1.1);
    color: blue;
}

/*--------------------------------------------------------*/

.index div{
    background-color: rgb(30,30,30);
    color: white;
    font-size: 1.25rem;
    padding: 5rem 45rem 5rem 15rem;
}

.presentation p{
    text-align: justify;
}

.presentation span{
    color: rgb(124, 124, 244);
}

.presentation img{
    position: absolute;
    top: 25%;
    left: 62%;  
    height: 350px;
    width: 350px;
}

/*--------------------------------------------------------*/

.wireframes{
    max-width: 100%;
    background-color: rgb(36,36,36);
    padding: 50px;
    text-align: center;
    color: white;
}

.wireframes p{
    max-width: 50%;
    margin: auto;
}

.wireframes img{
    height: 500px;
    width: 500px;
    padding: 50px;
    border-radius: 10%;
}


/*--------------------------------------------------------*/

.activities{
    max-width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgb(36,36,36);
}

.activities button{
    border-radius: 10px;
    height: 10rem;
    width: 30rem;
}

.activities button a{
    color: black;
    font-family: Tahoma;
    text-decoration: none;
    font-size: 2.5rem;
}

.html{
    background-color: #d38749;
    transition: 0.3s;
    cursor: pointer;
}
.html:hover{
    background-color: #ff7300;
}

.css{
    background-color: #b7d8fc;
    transition: 0.3s;
    cursor: pointer;
}
.css:hover{
    background-color: #007bff;
}

/*--------------------------------------------------------*/

.main-contact{
    padding: 50px;
    background-color: rgb(36,36,36);

}

.contact{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #f0f8fa;
    border-radius: 10px;
}

.contact legend{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.contact label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.contact input{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact textarea{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    height: 100px;
}

.contact button{
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background 0.3s ease-in-out;
}

.contact button:hover{
    background: #0056b3;
}

/*--------------------------------------------------------*/
footer{
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div{
    max-width: 500px;
    margin: auto;
    color: white;
}